# Assigned all .txt files to the team
* @QualTech-Software/Team-approval

# Assigning all the files for particular users
/Figma-shravani/ @shravanikatkar12

# Assigning all the files for particular users
/Figma-shukrata/ @ShukrataMore

# For main branch rules assigning to myself
main/*   @shivamnaik6574

