# Assigned all .txt files to the team
* @QualTech-Software/Team-approval

# Assigning all the files for particular users
/shravani-figma/ @shravanikatkar12

# Assigning all the files for particular users
/shukrata-figma/ @ShukrataMore

# For main branch rules assigning to myself
main/*   @shivamnaik6574

